<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="con" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\idb\AdoNetProject\MyADOFinalProject\Shefain_1280899\MessManageMentSln\MessManageMentSln\MessManageMent\Database1.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>